{% extends "base.html" %}
{% block content %}
    <h1>Hello {{current_user.first_name}}</h1>
    {% if current_user.is_authenticated %}
        <div>Account No. {{account.account_num}}</div>
        <div>Balance: {{ balance }} </div>
    {% endif %}
    <ul class="transactions">
        {% for transaction in transactions %}
        <li class="transaction">
            <div class="transaction-date">Date: {{transaction.date_time}}</div>
            <div class="transaction-parties">From: {{transaction.sender_account.account_owner.first_name}} To: {{transaction.receiver_account.account_owner.first_name}} Type: {{transaction.transaction_type.name}}</div>
            {% if transaction.transaction_type.name == "Transfer" and transaction.sender_account == account %}
                <div class="transaction-amount">Amount: -{{transaction.amount}}</div>
            {% else %}
                <div class="transaction-amount">Amount: {{transaction.amount}}</div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}